git+https://github.com/Dao-AILab/flash-attention.git
git+https://github.com/huggingface/accelerate.git
git+https://github.com/WePOINTS/WePOINTS.git
git+https://github.com/huggingface/peft.git
transformers-stream-generator
transformers==4.55.2
huggingface_hub
albumentations
qwen-vl-utils
pyvips-binary
sentencepiece
opencv-python
docling-core
python-docx
torchvision
safetensors
matplotlib
num2words
reportlab
xformers
requests
pymupdf
hf_xet
spaces
pyvips
pillow
gradio
einops
torch
fpdf
timm
av